h1{
  font-weight: normal;
  font-size: 50px;
  color: white;
}
h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3{
  text-align: center;
  font-size: 21px;
  color: grey;
}
a{
  color: aquamarine;
}
h5{
  font-size: 16px;
}
h6 {
  text-align: right;
  color: grey;
}
.video{
  text-align: center;
}
body {
  font-family: verdana;
  background-color: black;
  text-align: center;
}
